@{
    ViewBag.Title = "About";
    Layout = "_Layout";
}

<title>@ViewData["Title"] - BookStore</title>


<main class="container mt-sm-2" style="background: aliceblue">
    <div class="row">
        <div class="col-md-6">
            <h2>About BookStore</h2>
            <p style="font-family: 'Dancing Script', cursive; font-size: 18px;">
                @ViewData["AboutText"]
            </p>
            <p style="font-family: 'Dancing Script', cursive; font-size: 18px;">
                BookStore is passionate about connecting readers with the stories they love. We offer a wide selection of books in various genres, from classic literature to the latest bestsellers. Whether you're looking for a new release or a hidden gem, you'll find it at BookStore.
            </p>


        </div>
        <div class="col-md-6">
            <img src="https://images.pexels.com/photos/5490059/pexels-photo-5490059.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Bookstore Image (placeholder)" class="img-fluid rounded-3 img-thumbnail"
                 width="300" height="200">
            <p style="font-family: 'Dancing Script', cursive; font-size: 18px;">To add a compelling image, you can search for free images using online resources like Unsplash, Pexels, Pixabay, Freepik, or LibreStock. Be sure to check the license terms before using any image.</p>
        </div>
        <br/>

        <div class="cols-md-6">
            <img src="https://images.pexels.com/photos/904616/pexels-photo-904616.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Bookstore Image (placeholder)" class="img-fluid rounded-3 img-thumbnail"
                 width="300" height="300">
            <p style="font-family: 'Dancing Script', cursive; font-size: 18px;">To add a compelling image, you can search for free images using online resources like Unsplash, Pexels, Pixabay, Freepik, or LibreStock. Be sure to check the license terms before using any image.</p>
        </div>
    </div>
    <br/>
    <br/>
    </main>
