@{
    ViewData["Title"] = "Home Page";
}
   <section class="movies">
           <div class="movie-card"onclick="window.location.href='/movie-detail.html'" >
            <div class="movie-image">
              <img src="https://picsum.photos/id/1/200/300">
            </div>
            <div class="movie-info">
                <h4>Movie 1</h4>
                <h4>Action, Adventure</h4>
                <h4>John doe, max </h4>
                <h4>director 1</h4>
            </div>
           </div>

           <div class="movie-card" >
            <div class="movie-image">
              <img src="https://picsum.photos/id/237/200/300">
            </div>
            <div class="movie-info">
                <h4>Movie 2</h4>
                <h4>Action, Adventure</h4>
                <h4>John doe, max </h4>
                <h4>director 1</h4>
            </div>
           </div>


           <div class="movie-card" >
            <div class="movie-image">
              <img src="https://picsum.photos/id/237/200/300">
            </div>
            <div class="movie-info">
                <h4>Movie 3</h4>
                <h4>Action, Adventure</h4>
                <h4>John doe, max,anna, ralph, dorian </h4>
                <h4>director 1,director 2,director 3</h4>
            </div>
           </div>


           <div class="movie-card" >
            <div class="movie-image">
              <img src="https://picsum.photos/id/237/200/300">
            </div>
            <div class="movie-info">
                <h4>Movie 2</h4>
                <h4>Action, Adventure</h4>
                <h4>John doe, max </h4>
                <h4>director 1</h4>
            </div>
           </div>


           <div class="movie-card" >
            <div class="movie-image">
              <img src="https://picsum.photos/id/237/200/300">
            </div>
            <div class="movie-info">
                <h4>Movie 2</h4>
                <h4>Action, Adventure</h4>
                <h4>John doe, max </h4>
                <h4>director 1</h4>
            </div>
           </div>


           <div class="movie-card" >
            <div class="movie-image">
              <img src="https://picsum.photos/id/237/200/300">
            </div>
            <div class="movie-info">
                <h4>Movie 2</h4>
                <h4>Action, Adventure</h4>
                <h4>John doe, max </h4>
                <h4>director 1</h4>
            </div>
           </div>


           <div class="movie-card" >
            <div class="movie-image">
              <img src="https://picsum.photos/id/237/200/300">
            </div>
            <div class="movie-info">
                <h4>Movie 2</h4>
                <h4>Action, Adventure</h4>
                <h4>John doe, max </h4>
                <h4>director 1</h4>
            </div>
           </div>


           <div class="movie-card" >
            <div class="movie-image">
              <img src="https://picsum.photos/id/237/200/300">
            </div>
            <div class="movie-info">
                <h4>Movie 2</h4>
                <h4>Action, Adventure</h4>
                <h4>John doe, max </h4>
                <h4>director 1</h4>
            </div>
           </div>



           <div class="movie-card" >
            <div class="movie-image">
              <img src="https://picsum.photos/id/237/200/300">
            </div>
            <div class="movie-info">
                <h4>Movie 2</h4>
                <h4>Action, Adventure</h4>
                <h4>John doe, max </h4>
                <h4>director 1</h4>
            </div>
           </div>


           <div class="movie-card" >
            <div class="movie-image">
              <img src="https://picsum.photos/id/237/200/300">
            </div>
            <div class="movie-info">
                <h4>Movie 2</h4>
                <h4>Action, Adventure</h4>
                <h4>John doe, max </h4>
                <h4>director 1</h4>
            </div>
           </div>

           <div class="movie-card" >
            <div class="movie-image">
              <img src="https://picsum.photos/id/870/200/300?grayscale&blur=2">
            </div>
            <div class="movie-info">
                <h4>Pride and Prejudice</h4>
                <h4>1893</h4>
                <h4>Jane Austen</h4>
                <h4>A witty and enduring social commentary that follows the tangled relationships of the Bennet sisters in search of suitable husbands.</h4>
            </div>
           </div>
        </section>
<div class="pagination">
    <a href="#">1</a>
    <a href="">All</a> 
</div>
<br/>
<br/>